*{margin:0;padding:0}

a{color:#4b95c6; text-decoration: none}
a:hover{color:#217DB9; text-decoration: none}

img{border:0}

h1, h2, h3, h4, h5, h6{font-family: 'ZineSlabDisRegularRomanTf';font-weight: normal;color: #434a51}
h1{font-size: 30px}
h2{font-size: 26px}
h3{font-size: 22px}
h4{font-size: 18px}
h5{font-size: 14px}
h6{font-size: 10px}

p{text-align: justify;padding-bottom: 10px;line-height: 180%}
br{clear:both;height:10px}

body{font-family: 'Roboto', sans-serif;color: #6E7680;font-size: 14px}

.inner{width:980px;margin:0 auto}
.inner img{max-width: 100%}

header{background:url(../img/texture.png);border-bottom: 1px solid #c6c9cb;box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1) inset;text-align: center}
header h1{text-transform: uppercase;font-size: 44px;font-weight:bold;padding:20px 0 8px 0;color: #217DB9}
header h5{margin-bottom: 20px}

nav{padding-bottom:20px}
nav a{padding: 5px 15px 7px;font-size: 14px;color: #217DB9;margin:0 7px}
nav a.active, nav a:hover{background: #217DB9;color:#fff;border-radius: 5px;box-shadow: 0 -1px #0B4888, 0 1px #FFFFFF}

h1#page_title{color:#217DB9; margin-bottom: 20px}

section{padding:20px 0}

footer{background: #4a535e;color: #A8B1BB;padding:15px 0;font-size: 14px}

a[rel=gallery]{float:left;margin-right: 5px;padding-bottom: 2px}
a[rel=gallery]:hover{opacity:0.8}

#faculty a,#photo-gallery a{float:left; margin:0 20px 20px 0; width:176px}
#faculty img:hover,#photo-gallery img:hover{opacity:0.8}
#faculty h3,#photo-gallery h3{font-size: 18px;text-align: center;margin: 10px 0 0 0}

#photo-gallery a{height: 195px}